.card--article{
    animation: apparition 0.3s ease-in-out forwards;
    opacity:0;
    background-color:white;
    
    padding:11px;
    padding-bottom:20px;
    cursor:pointer;
    border-bottom: 1px solid lightgray;

    .card__img{
        position:relative;
        width:100%;
        height:178px;
        margin-bottom:16px;
        user-select:none;
        overflow:hidden;

        &::after{
            z-index:2;
            content:"En savoir plus";
            display:flex;
            justify-content:center;
            align-items:center;
            color:white;
            font-size:24px;
        }
    }

    .card__header{
        margin-left:6px;
        display:flex;
        justify-content: space-between;
        align-items: center;

        h2, span{
            color:map-get($baseColor, textColor);
            font-weight:normal;
            font-size:16px;
        }
    }

    div{
        @include lateralVertical(rgba(100, 100, 100, 0.6), 0.2s, ease-in-out);
    }
}

.card--cart{
    box-shadow:1px 1px 15px rgba(0, 0, 0, 0.3);
    background-color:white;
    animation: apparition 0.8s ease-in-out forwards;
    opacity:0;
    position:relative;
    display:flex;
    align-items:center;
    border-bottom: 1px solid lightgray;

    .card__close{
        position:absolute;
        top:5px;
        right:5px;
        user-select: none;
    }
    
    img{
        margin-left:6px;
        width:165px;
        height:103px;
        user-select:none;
    }

    header{
        margin-left:11px;

        select{
            display: inline;
        }
    }
 
    .card__price, 
    .card__title,
    .card__quantity{
        color:map-get($baseColor, textColor);
        font-weight:500;
    }

    .card__price{
        display:block;
    }

    .card__title{
        @include fluid-type(375px, 1440px, 20px, 26px);
        margin-bottom:5px;
    }

    .card__quantity{
        display:inline-block;
        @include fluid-type(375px, 1440px, 16px, 20px);
        margin-bottom:5px;
    }

    .card__price{
        @include fluid-type(375px, 1440px, 16px, 20px);
        margin-bottom:5px;
    }
}

@mixin card--tablet{
    .card--article{
        .card__header{
            h2, span{
                font-size:20px;
            }
        }
    }
}