.card--article{
    padding:11px;
    padding-bottom:20px;
    cursor:pointer;

    
    

    .card__img{
        position:relative;
        object-fit:cover;
        width:100%;
        height:178px;
        margin-bottom:16px;
        user-select:none;
        overflow:hidden;

        &::after{
            z-index:2;
            content:"En savoir plus";
            display:flex;
            justify-content:center;
            align-items:center;
            color:white;
            font-size:24px;
        }
    }

    .card__header{
        margin-left:6px;
        display:flex;
        justify-content: space-between;
        align-items: center;

        h2, span{
            color:map-get($baseColor, textColor);
            font-weight:normal;
            font-size:16px;
        }
    }

    div{
        @include lateralVertical(rgba(100, 100, 100, 0.6), 0.2s, ease-in-out);
    }
}

@mixin card--tablet{
    .card--article{
        .card__header{
            h2, span{
                font-size:20px;
            }
        }
    }
}