.l-header{
    background-color:lightgray;
    padding-top:26px;
    padding-bottom:20px;
    width:100%;
    top:0px;
    z-index:1;
   
    &__wrapper{
        display:flex;
        align-items:center;
        justify-content: space-between;
    }

    &__counter{
        position:absolute;
        right:0px;
        top:0px;
        transform:translateX(50%) translateY(-50%);
        display:none;
        justify-content: center;
        align-items: center;
        border-radius:50%;
        background-color:map-get($baseColor, empahisColor);
        width:20px;
        height:20px;
        font-size:14px;
        color:white;
    }

    &__button{
        position:relative;
        background-color:transparent;
    }
}